<div>
<input
  type="checkbox"
  id="backfaces"
  onclick="toggleBackfaces()"
  checked
/><label for="backfaces">Backfaces visible</label>
</div>



.cube > .one {
  opacity: 0.5;
  transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
}

.cube > .two {
  opacity: 0.5;
  transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
}

.cube > .three {
  opacity: 0.5;
  transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
}

.cube > .four {
  opacity: 0.5;
  transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
}

.cube > .five {
  opacity: 0.5;
  transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
}

.cube > .six {
  opacity: 0.5;
  transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px)
    rotate(180deg);
}

.cube > .seven {
  transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px)
    rotate(180deg);
}

.cube > .eight {
  transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
}

.cube > .nine {
  transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
}

.cube > .ten {
  transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
}

.cube > .eleven {
  transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
}

.cube > .twelve {
  transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
}